/* Colors: */
:root{
    --highlight: #BDD4E7;
    --shadow: #212227;
    --main: #6998BF;
    --dark-main: #637074;
    --light-main: #AAB9CF;
}



body {
    background-color: var(--light-main);
    margin: auto;
    width: 80%;
}

ul {
    margin: 1rem;
    width: 600px;
    padding: 1rem;
    list-style: none;
}

ul li {
    padding: 0.5em;
    border: solid black 1px;
    border-radius: 3px;
    margin-top: 1rem;
}

span {
    margin-left: 1rem;
}

button{
    border-radius: 4px;
}

footer{
    height: 50px;
    background-color: var(--dark-main);
    color: var(--light-main);
    margin-top: 10px;
    padding: 5px;
    font-size: 24px;
}

footer p{
    text-align: center;
}
